.text ul{
	direction:rtl;
}

.text ul li{
	text-align:right;
}


body{
	font-family: 'Droid Arabic Kufi', serif !important;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Droid Arabic Kufi', serif !important;
}

p {
	font-family: 'Droid Arabic Kufi', serif !important;
}

li {
	font-family: 'Droid Arabic Kufi', serif !important;
}

ul {
	font-family: 'Droid Arabic Kufi', serif !important;
}

a{
font-family: 'Droid Arabic Kufi', serif !important;}


.txt-align-right{
	text-align:right;
}

.font-fmly{
	font-family: 'Droid Arabic Kufi', serif !important;
}

