/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {

.preloader .gif-load2{
    display:block;
}

.preloader .gif-load{
    display:none;
}

.main-header .header-upper .logo-box .logo {
    position: relative;
    width: 100px;
}

.main-header .nav-outer {
    margin-top: -85px !important;
}

.nav-outer .mobile-nav-toggler {
    padding:0px 0;
    margin-left:0px;
}

h1 {
    font-size:25px !important;
}

.call-to-action-section {

    padding: 30px 0px;
}

.resp{
	font-size:18px;
}

.btn-style-one {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    padding: 5px 35px;
    font-weight: 500;
    overflow: hidden;
    background: #fc4c59;
    border-radius: 25px;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
}

.icon-box{
	text-align:start;
}


.service-block .inner-box .icon-box img {
    position: relative;
    width: 30%;
    top: 0px;
    left: 35%;
}

.service-block .inner-clr {
    height: 280px;
}

.choose-section .inner-container .image-column .image img {
    width: 100% !important;
}

.lang-mb{
    float: right;
    margin-top: 25px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Droid Arabic Kufi', serif !important;
}


.page-title {
    padding: 50px 0px 50px;
}

.sidebar-page-container {
    position: relative;
    padding: 35px 0px 0;
}

.padding-bttm{
    padding-bottom:25px;
}

.padding-top {
    padding-top: 50px;
}

.padding-top {
    margin-top: 0;
}

.blog-single .inner-box .lower-content h3, h3 {
    font-size: 15px !important;
    padding-bottom:2px !important;
    padding-top:35px !important;
}

.size-change{
    padding-top:5px !important;
    padding-bottom:15px !important;
}

.padding-sec {
    padding: 0 ;
}

.contact-info-section .info-column .inner-column {
    padding: 55px 0 !important;
}

.h-tab_tab-head li {
    font-size: 12px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 0px 10px;
    height: 35px;
    line-height: 25px;
    color: #333;
    border-bottom: 0px;
    overflow: hidden;
    position: relative;
    font-weight: 500;
}

.contact-info-section {
    position: relative;
    padding: 55px 0px 70px;
}

.contact-form .form-group input[type="text"], .contact-form .form-group input[type="password"], .contact-form .form-group input[type="tel"], .contact-form .form-group input[type="email"], .contact-form .form-group select {

    padding: 0px 20px;
    height: 40px;
    border-radius: 25px;
}

.video-play-button {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 75% !important;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 20px;
    height: 33px;
    /* background: #fa183d; */
    border-radius: 40%;
    padding: 5px 25px 15px 25px;
}

.txt-size {
    font-size: 15px;
    margin-top: 8px;
    font-weight: 500;
    color: #fff;
}

.sidebar-page-container .content-side, .sidebar-page-container .sidebar-side {
    margin-bottom: 40px;
}

.object img{
    width:35% !important;
}

.image{
    height:auto !important;
}

.news-block-two .inner-box .lower-content {
    position: relative;
    padding-top: 0px !important;
}


}


/* Laptop */
@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
video {
    width: 100%;
    height: auto;
    background-size:cover !important;
    background-position:center center !important;
}

.banner-section .slide {

    height: 100vh;
}

.banner-section .content-column h1 {
font-size:35px;
padding-top: 15%;
    padding-left: 8%;
}

.main-header .header-upper .logo-box {
    position: absolute;
    padding: 23px 60px;
}

.banner-section .slide .image-layer {
    position: absolute;
    right: -355px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-position: right top;
    background-repeat: no-repeat;
    padding: 0;
}

h1 {
    font-size: 55px;
}

.sidebar-page-container {
    position: relative;
    padding: 10px 0px 80px;
}
.object img{
    padding-top:25%;
}

}


/* Desktop*/
@media only screen  and (min-width : 1224px) {

}